@import '../../../variables.scss';

.item {
    width: auto;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0px;
    font-size: 20px;
    transition: height 0.3s ease-in-out;
    cursor: pointer;

    @media screen and (min-width: 1px) {
        padding-left: 28px;
    }

    @media screen and (min-width: 1024px) {
        padding-left: 36px;
    }

    &:hover {
        background-color: $hover-bg-color;
    }

    &.selected {
        border-left: 6px solid $text-color;
        border-radius: 4px;
        
        @media screen and (min-width: 1px) {
            padding-left: 22px;
        }
    
        @media screen and (min-width: 1024px) {
            padding-left: 30px;
        }
    }

    &.navbar-expanded {
        height: 64px;
        transition: height 0.2s ease-in-out;
    }

    .icon-container {
        display: flex;
        align-items: center;
    }

    .item-description {
        font-size: 17px;
        font-weight: 500;

        @media screen and (min-width: 1px) {
            padding-left: 12px;
        }
    
        @media screen and (min-width: 1024px) {
            padding-left: 18px;
        }
    }
}