@import '../../variables.scss';

.table-container {
    overflow-x: auto; 
    margin-top: 20px;
}

.custom-table {
    width: auto;
    min-width: 100%;
    border-collapse: collapse;

    &.noData {
        overflow-y: hidden;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        min-width: fit-content;
        flex-wrap: nowrap;
    }

    th {
        background-color: #f2f2f2;
        font-weight: 700;
        font-size: 18px;

        &:hover {
            cursor: pointer;
        }
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .action-button {
        padding: 6px 12px;
        font-size: 12px;
        cursor: pointer;
    }

    td:last-child {
        white-space: nowrap; 
        overflow: hidden;  
    }

    .button {
        width: fit-content;
        padding: 6px 10px;
        margin: 0px 5px;
        border-radius: 4px;
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;
        color: $text-color;

        &.cancel {
            border: 2px solid $text-error;
            background-color: $text-error;
        }

        &.confirm {
            border: 2px solid $main-green;
            background-color: $main-green;
        }

        &:hover {
            transition: box-shadow 0.2s ease-in-out;
            box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.57);
            -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.57);
            -moz-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.57);
        } 

        &.disabled {
            opacity: 0.5;
        }

        &.disabled:hover {
            transition: none;
            box-shadow: none;
            cursor: no-drop;
        }
    }
}